# ========================== #
# Spring Boot Maven Project  #
# ========================== #

HELP.md
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/

# ====== #
# Maven  #
# ====== #
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# ===== #
# IDEs  #
# ===== #

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ================ #
# Sonar / Linter   #
# ================ #
.sonar/
.jacoco/